.fa-code-fork {
  color: white;
  font-size: 23px;
  padding: 0 0 0 12px;
}

.row {
	display: flex;
	flex-wrap: nowrap;
	padding: 0 10px;

	.middle-navbar {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		.search-form {
			display: inline-block;
		}
	}
	
}

