<nav class="navbar navbar-default" id="editor-toolbar">
    <div class="row">
      <div class="left-navbar">
        <div *ngIf="record" [class.re-disabled]="displayingRevision">
          <button type="button" class="btn navbar-btn btn-success" [disabled]="saveButtonDisabledAttribute" (click)="onSaveClick($event)">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <span>Save</span>
          </button>
          <re-undo-button></re-undo-button>
          <i class="btn fa fa-code-fork" (click)="manualMergeModal.show()"></i>
          <re-help-modal-button></re-help-modal-button>
        </div>
      </div>

      <div class="middle-navbar">
        <div class="search-form">
          <re-search-bar></re-search-bar>
        </div>
        <div *ngIf="record" class="search-form">
          <re-tickets></re-tickets>
        </div>
      </div>

      <div *ngIf="record" class="right-navbar">
        <re-record-history (revisionChange)="onRevisionChange($event)" (revisionRevert)="onRevisionRevert()"></re-record-history>
      </div>

    </div>
</nav>

<re-manual-merge-modal #manualMergeModal></re-manual-merge-modal>